body {
  margin: 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background: grey;
}

.MandiRexLogoAtTop {
  background: black;
  color: darkgreen;
  padding: 5px;
  margin: 0px;
  float: left;
  width: 100%;
  font: 300;
}

.col {
  background: #333;
  padding: .5%;
  border-radius: 5px;
  margin: .5%;
  float: left;
  width: 31%;
  color: white;
}

.nav {
  
  text-align: center;
  height: 40px;
  color: black;
}
.nav ul {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.nav ul li {
  list-style: none;
  color: darkgreen;
}

.nav ul li a{
  color: darkgreen;
  text-decoration: none;
  float: left;
  display: block;
  padding: 10px 70px;
}
.nav ul li a:hover {
  color: black;
}


MainParagraph {
  font: 100;
  color: black;
}

footer {
  color: black;
  margin: 1px;
  padding: 1px;
  float: left;
  
}